@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  height: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: 'Source Sans Pro', sans-serif;
}

input:hover {
  border-color: '#A64AEE';
}

ul {
  list-style: none; /* Remove default bullets */
}

ul li.meaningWord::before {
  content: '\2022'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #a64aee; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.toggle,
.historyModalWindow {
  transition: transform 1s ease;
}

.fontToggleContainer,
button,
.listEl {
  box-shadow: 3px 3px 3px 5px rgba(0, 0, 0, 0.1);
  animation: scale 1s ease;
}

ul .listEl li::before {
  color: transparent;
  content: '';
}

@keyframes scale {
  0% {
    scale: (0.8);
  }

  100% {
    scale: (1);
  }
}

.angle {
  transition: transform 0.5s ease;
  transform: rotate(180deg);

  &.rotate {
    transform: rotate(360deg);
  }
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #555555;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
